<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
    <div class="container">
        <h1>UPD Scholarships</h1>
        <br>
        <form method="GET" action="/scholarships">
            <div class="form-row align-items-center">
                <div class="form-inline col-auto">
                    <label><strong>Name: </strong></label>
                    <input type="text" class="form-control mx-sm-3" name="name">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Scholarship Name</td>
                    <td>Offering Unit</td>    
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<scholarships.length; i++) { %>
                    <tr>
                        <td><%= scholarships[i].name %></td>
                        <td><%= scholarships[i].offering_unit %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <% include ./partials/scripts %>
</body>

</html>
